<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Events</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a>Home</a>
        </li>
        <li class="breadcrumb-item active">Events
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="content-body">
  <div class="row match-height">

      <div class="col-md-4 col-sm-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="form-group">
                  <h5>Run Restults / Standing updated</h5>
                  <p>Need to run every match event (start, end)</p>
                  <button class="btn btn-lg btn-block font-medium-1 btn-outline-success mb-1 block-element" (click)="updateDataResults()">
                    <i>&lambda;</i>
                    Tipzone Updater
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="form-group">
                    <h5>Calculate User Scores</h5>
                    <p>Recalculate last user results</p>
                    <button class="btn btn-lg btn-block font-medium-1 btn-outline-success mb-1 block-element">
                      <i>&lambda;</i>
                      User Score Calculation
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="form-group">
                      <h5>Trucante Deleted Uuser</h5>
                      <p>Remove all users who has disabled flag not more than 24 hours.</p>
                      <button class="btn btn-lg btn-block font-medium-1 btn-danger mb-1 block-element">
                        <i>&lambda;</i>
                        Trucante Users
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

  </div>

  <div class="row match-height">

      <div class="col-md-4 col-sm-12">
          <div class="card">
              <div class="card-content" id="accordionWrapa1">
                <div class="card-body">
                  <h4 class="card-title">Tipzone Updater Events log</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up
                    the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <ng-container *ngFor="let update of UpdatedEventsLogs; let u = index">
                    <li class="list-group-item">
                      <span class="badge badge-default badge-pill bg-primary float-right">{{update.count}}</span>
                      #{{u}} {{update.name}}
                    </li>
                  </ng-container>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Clear history</a>
                  <a href="#" class="card-link">Export logs</a>
                </div>
              </div>
            </div>
      </div>

      <div class="col-md-4 col-sm-12">
          <div class="card">
              <div class="card-content" id="accordionWrapa1">
                <div class="card-body">
                  <h4 class="card-title">Calculate User Scores Event logs</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up
                    the bulk of the card's content.</p>
                </div>
          <div class="card">

            <ng-container *ngFor="let calculation of CalculateUserScoreEventsLogs; let c = index" >
              <div id="heading{{c}}" class="card-header" role="tab">
                <a data-toggle="collapse" data-parent="#accordionWrapa1" href="#accordion{{c}}" aria-expanded="false" [attr.aria-controls]="'accordion' + c" class="card-title lead collapsed">
                    #{{c}} {{calculation.name}}
                </a>
              </div>
              <div id="accordion{{c}}" role="tabpanel" [attr.aria-labelledby]="'heading' +c" class="collapse">
                <div class="card-content">
                  <div class="card-body">
                    <h3>{{calculation.status}}</h3>
                   <p *ngFor="let result of calculation.results" >
                      <span class="badge badge-default badge-pill bg-primary float-right">{{result.userScore}}</span>
                     {{result.userId}}
                   </p>
                  </div>
                </div>
              </div>
            </ng-container>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
          <div class="card">
              <div class="card-content" id="accordionWrapa1">
                <div class="card-body">
                  <h4 class="card-title">Trucante users event logs</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up
                    the bulk of the card's content.</p>
                </div>
          <div class="list-group">
              <a href="#" class="list-group-item active">
        Cras justo odio
      </a>
              <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
              <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
            </div>
          </div>
        </div>
      </div>

  </div>

</div>
