
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
  <!-- <script src="main.js"></script> -->
  <style>

  html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 1);
  }
  .tipzone {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 20%;
    height: 100%;;
    background: rgba(0, 0, 0, 0.8);
  }
  </style>
</head>
<body>
  <iframe frameborder="0" allowfullscreen scrolling="no"  allow="encrypted-media" width="100%" height="100%" src="https://player.mediaklikk.hu/playernew/player.php?video=mtv4live&noflash=yes&vastpreroll=https%3A%2F%2Fgemhu.adocean.pl%2Fad.xml%3Fid%3DA_gF0Rpo7RmBZtnd.q9TNHqFPysLiu8mg4eULYtgif3.47%2Faocodetype%3D1&osfamily=OS%20X&osversion=10.13.4&browsername=Chrome&browserversion=67.0.3396.99&title=M4&contentid=mtv4live&embedded=0"></iframe>

    <div class="tipzone">

      <event-banner fxflex="50" fxflex.xs="100" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%;" ng-reflect-result="[object Object]" ng-reflect-flex="50" ng-reflect-flex-xs="100"><ion-card class="card card-md card-md-has_live" ng-reflect-color="has_live" rel="sr:match:13307991">
        <ion-row align-items-start="" class="row">
          <ion-col class="col">
            <p text-left="">Jul 3, Tuesday</p>
          </ion-col>
          <ion-col class="col">
              <!--bindings={
        "ng-reflect-ng-if": "false"
      }-->

          </ion-col>
          <ion-col class="col">
            <p text-right="">Soccer</p>
          </ion-col>
        </ion-row>
        <ion-row align-items-center="" class="row">
          <ion-col align-self-start="" class="col" col-2="">
            <ion-avatar>
              <img class="rounded-image" src="/assets/flags/4820.png">
            </ion-avatar>
          </ion-col>
          <ion-col class="col" col-2="" col-sm-3="">
            <h3 class="team-name" fxhide.xs="" text-right="" ng-reflect-hide-xs="" style="display: block;">Colombia</h3>
            <h5 class="team-name-abs" fxhide.gt-xs="" text-right="" ng-reflect-hide-gt-xs="" style="display: none;">COL</h5>
          </ion-col>
          <ion-col class="col" col-4="" col-sm-2="">
            <!--bindings={
        "ng-reflect-ng-if": "false"
      }-->

            <!--bindings={
        "ng-reflect-ng-if": null
      }-->

            <!--bindings={
        "ng-reflect-ng-if": "true"
      }--><h2>LIVE</h2>

            <!--bindings={
        "ng-reflect-ng-if": "false"
      }-->

          </ion-col>
          <ion-col class="col" col-2="" col-sm-3="">
            <h3 class="team-name" fxhide.xs="" text-left="" ng-reflect-hide-xs="" style="display: block;">England</h3>
            <h5 class="team-name-abs" fxhide.gt-xs="" text-left="" ng-reflect-hide-gt-xs="" style="display: none;">ENG</h5>
          </ion-col>
          <ion-col align-self-start="" class="col" col-2="">
            <ion-avatar class="flag-right">
              <img class="rounded-image" src="/assets/flags/4713.png">
            </ion-avatar>
          </ion-col>
        </ion-row>
        <ion-row class="row">
          <ion-col class="col" text-left="">
            <div>
              World Cup
              <!--bindings={
        "ng-reflect-ng-if": "false"
      }-->
              <!--bindings={
        "ng-reflect-ng-if": "true"
      }--><span>round_of_16</span>
            </div>
          </ion-col>
          <ion-col class="col" text-center="">
            <!--bindings={
        "ng-reflect-ng-if": "false"
      }-->
            <!--bindings={
        "ng-reflect-ng-if": "false"
      }-->
            <!--bindings={
        "ng-reflect-ng-if": "false"
      }-->
          </ion-col>
          <ion-col center="" class="col" text-right="">
            <small></small>
          </ion-col>
        </ion-row>
      </ion-card>
      </event-banner>
    </div>
</body>
</html>
