<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-1">
      <h3 class="content-header-title">Partner Admin</h3>
    </div>
    <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a>Home</a>
          </li>
          <li class="breadcrumb-item active">Group details
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="content-body">
    <section class="row">
      <div class="col-sm-12">

        <!-- Kick start -->
        <div id="group-editor" class="card">

          <div class="card-content collapse show">
            <div class="card-body" *ngIf="formGroup" >
                <div class="card-text">

                </div>

                <form [formGroup]="formGroup">
                    <div class="row justify-content-md-center">
                      <div class="col-12 col-lg-6">
                        <dynamic-ng-bootstrap-form [group]="formGroup" [layout]="formLayout" [model]="formModel"></dynamic-ng-bootstrap-form>
                      </div>
                    </div>
                    <hr/>
                    <button type="button" *ngIf="(isEditing | async) === true" class="btn btn-warning" (click)="cancel()">Cancel</button>
                    <button type="submit" *ngIf="(isEditing | async) === true" class="btn btn-success" (click)="save()">Save</button>
                    <button type="button" *ngIf="(isEditing | async) !== true" class="btn btn-primary" (click)="edit()">Change details</button>
                </form>

                <pre>{{coverImage | json}}</pre>
                <img *ngIf="coverImage"  [src]="coverImage" alt="" />
              </div>
              <!--/ Kick start -->
            </div>
          </div>
        </div>

    </section>

  </div>
