<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Partner Admin</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a>Home</a>
        </li>
        <li class="breadcrumb-item active">My Groups
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="content-body">
    <div class="row match-height">

        <ng-container *ngIf="logdata && logdata.length > 0; else no_group" >
          <div class="col-xl-3 col-md-6 col-sm-12" *ngFor="let group of logdata">
            <div class="card" >
             <div class="card-content" aria-expanded="true">
                 <div class="card-body">
                    <h4 class="card-title">{{group.groupName}}</h4>
                     <p class="card-text">{{group.seasonName}}</p>
                     <a href="#" [routerLink]="['/groups', group.groupId, { date: group.updatedAt}]" class="btn btn-primary">Details</a>
                 </div>
             </div>
             <div class="card-footer">
                 <span class="text-muted">{{group.groupType}} / {{(group.updatedAt*1000) | date: 'medium'}}</span>
             </div>
         </div>
        </div>
       </ng-container>

          <div class="col-12">
            <button class="btn btn-info" (click)="createNewGroup(content)">Create new group</button>
          </div>


    </div>

</div>

<ng-template #no_group>
    <h2>You dont have group yet, please create one!</h2>
</ng-template>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Permission denied 403</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h2>Access denied</h2>
      <p>Please ask your addministrator to create a group for you or try to create in the App instead.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close')">Close</button>
    </div>
  </ng-template>
