<div class="content-header row">
	<div class="content-header-left col-md-6 col-12 mb-1">
		<h3 class="content-header-title">ChangeLog</h3>
	</div>
	<div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
		<div class="breadcrumb-wrapper col-12">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a>Home</a>
				</li>
				<li class="breadcrumb-item active">Change log
				</li>
			</ol>
		</div>
	</div>
</div>
<div class="content-body">
	<section id="drag-area">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Initial Release</h4>
						<p>Date : [09-06-2018]</p>
						<a class="heading-elements-toggle">
							<i class="fa fa-ellipsis-v font-medium-3"></i>
						</a>
						<div class="heading-elements">
							<ul class="list-inline mb-0">
								<li>
									<a data-action="collapse">
										<i class="ft-minus"></i>
									</a>
								</li>
								<li>
									<a data-action="reload">
										<i class="ft-rotate-cw"></i>
									</a>
								</li>
								<li>
									<a data-action="close">
										<i class="ft-x"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-content collapse show">
						<div class="card-body">
							<h5>Started in June 2018</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
