<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Partner Admin</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a>Home</a>
        </li>
        <li class="breadcrumb-item active">News</li>
      </ol>
    </div>
  </div>
</div>
<div class="content-body">

    <div class="row justify-content-md-center">
      <div class="col-12 col-xl-10">
        <div class="row ">

            <div class="card">

                <div class="card-content collpase show">
                  <div class="card-body">
                    <div class="card-text">
                      <p *ngIf="loadingIndicator">Loading ... <i class="fa fa-futbol-o spinner"></i> </p>
                    </div>

                    <ng-container *ngIf="(groups && groups.length > 0) || loadingIndicator; else no_group">
                    <div class="nav-vertical">
                      <ul class="nav nav-tabs nav-left nav-border-left" style="height: 62.3906px;">
                        <li class="nav-item" *ngFor="let group of groups; let i = index" >
                          <a class="nav-link" [class.active]="i === 0" id="'base-'+group.groupId" data-toggle="tab" [attr.aria-controls]="group.groupId" href="#{{group.groupId}}" aria-expanded="true">{{group.groupName}}</a>
                        </li>
                      </ul>
                      <div class="tab-content px-1">
                        <div role="tabpanel" [class.active]="g === 0" *ngFor="let newsgroup of groups; let g = index" class="tab-pane" [id]="newsgroup.groupId" aria-expanded="true" [attr.aria-labelledby]="newsgroup.groupId">

                          <div class="list-group">
                            <a href="" (click)="open($event, item)" class="list-group-item list-group-item-action flex-column align-items-start " *ngFor="let item of news | filterBy: ['groupId']: newsgroup.groupId | orderBy: '-updateAt'" >
                              <div class="d-flex w-100 justify-content-between">
                                <h5 class="text-bold-600">{{item.title}}</h5>
                                <small>{{(item.updateAt*1000) | date: 'long'}}</small>
                              </div>
                              <p>{{item.content}}</p>
                            </a>
                            <button class="btn btn-lg btn-outline-primary" (click)="open($event, {groupId: newsgroup.groupId, groupName:newsgroup.groupName, userId: newsgroup.userId})">+ Add news</button>
                          </div>

                        </div>
                      </div>

                    </div>
                  </ng-container>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
</div>

<ng-template #no_group>
    <div class="col-12">
      <h2>You dont have group yet, please create one!</h2>
    </div>
 </ng-template>