<tipzone-sidebar></tipzone-sidebar>
<tipzone-navbar></tipzone-navbar>
<div class="app-content content">
    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>
</div>
<tipzone-footer></tipzone-footer>
