<div class="page-loading" [class.active]="isLoading">
    <img src="assets/app/images/oval.svg" class="loading-icon" />
</div>
<video autoplay muted loop id="myVideo">
    <source src="/assets/football.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>

<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section class="flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="col-lg-3 col-12 box-shadow-2 p-0 form-signin--wrapper">
            <div class="card border-grey border-lighten-3 m-0">
              <div class="card-header border-0">
                <div class="card-title text-center">
                  <div class="p-1">
                    <h2>Tip Zone Admin</h2>
                  </div>
                </div>
              </div>
              <div class="card-content">
                <div class="card-body pt-0">
                  <!-- <form class="form-horizontal" >
                    <fieldset class="form-group floating-label-form-group">
                      <label for="user-name">Your Username</label>
                      <input type="text" class="form-control" id="user-name" placeholder="Your Username">
                    </fieldset>
                    <fieldset class="form-group floating-label-form-group mb-1">
                      <label for="user-password">Enter Password</label>
                      <input type="password" class="form-control" id="user-password" placeholder="Enter Password">
                    </fieldset>
                    <div class="form-group row">
                      <div class="col-md-6 col-12 text-center text-sm-left">
                        <fieldset>
                          <input type="checkbox" id="remember-me" class="chk-remember">
                          <label for="remember-me"> Remember Me</label>
                        </fieldset>
                      </div>
                      <div class="col-md-6 col-12 float-sm-left text-center text-sm-right"><a href="" routerLink="/login" class="card-link">Forgot Password?</a></div>
                    </div>
                    <button type="submit" routerLink="/dashboard" class="btn btn-outline-primary btn-block"><i class="ft-unlock"></i> Login</button>
                  </form> -->
                  <form class="form-signin" method="POST" action="#" role="form">
                    <div class="form-group">
                        <h2>Login</h2>
                    </div>
                    <div *ngIf="errorMessage!=null" class="alert alert-danger">
                        {{ errorMessage }}
                    </div>
                    <div *ngIf="!mfaStep">
                        <div class="form-group">
                            <label class="control-label" for="signupEmail">Email</label>
                            <input id="signupEmail" required type="email" maxlength="100" class="form-control" [(ngModel)]="email"
                                   [ngModelOptions]="{standalone: true}">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="signupPassword">Password</label>
                            <input id="signupPassword" required type="password" maxlength="25" class="form-control"
                                   length="40" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <button (click)="onLogin()" id="signupSubmit" type="submit" class="btn btn-info btn-block">
                                Login
                            </button>
                        </div>

                        <hr>
                        <p>
                            <a [routerLink]="['/forgotPassword']"> <i class="fa fa-fw fa-group"></i> Forgot Password?</a><br/>
                            <a [routerLink]="['/resend']"> <i class="fa fa-fw fa-group"></i> Resend Confirmation Code</a>
                        </p>

                    </div>

                    <div class="form-group" *ngIf="mfaStep">
                        <tipzone-mfa [destination]="mfaData.destination"
                                        [whenSubmit]="mfaData.callback"></tipzone-mfa>
                        <hr>
                        <a (click)="cancelMFA()" href="">Cancel</a>
                    </div>
                </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
