<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Newsletter</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a>Home</a>
        </li>
        <li class="breadcrumb-item active">Newsletter
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="content-body">
  <div class="row match-height">

      <div class="col-12">

          <div class="card">
              <div class="card-content">
                <div class="card-body">
                    <h2>News letter sender</h2>
                </div>
              </div>
          </div>

      </div>
  </div>

</div>
