


<ul class="nav navbar-nav float-right">
    <li class="dropdown dropdown-user nav-item" ngbDropdown placement="bottom-right">
      <a href="javascript:;" class="dropdown-toggle nav-link dropdown-user-link" id="dropdownUser" ngbDropdownToggle>
        <span class="avatar avatar-online">

          <img [src]="(parameters['avatar']) ? parameters['avatar'] : '/assets/app/images/portrait/small/avatar-s-1.png'" alt="avatar">
          <i></i>
        </span>
        <span class="user-name">
          {{parameters['preferred_username']}}<br/>
          <small >{{(parameters['roles']) ? parameters['roles'].join(', ') : ''}}</small>
        </span>

      </a>
      <div ngbDropdownMenu aria-labelledby="dropdownUser">
        <a class="dropdown-item disabled" href="javascript:;" data-toggle="modal" data-target="#access-denied" disabled>
          <i class="ft-user"></i> Edit Profile
        </a>
        <a class="dropdown-item" href="javascript:;" disabled>
          <i class="ft-mail"></i> My Inbox
        </a>
        <a class="dropdown-item" href="javascript:;" disabled>
          <i class="ft-check-square"></i> Task
        </a>
        <a class="dropdown-item" href="javascript:;" disabled>
          <i class="ft-message-square"></i> Chats
        </a>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="" routerLink="/logout">
          <i class="ft-power"></i> Logout
        </a>

      </div>
    </li>
  </ul>
